.dark-theme {
  $bg-color: #2b2b2b;
  $text-color: #fefefe;
  $link-color: #fefefe;
  $border-color: #fefefe;

  .bg-color {
    background-color: $bg-color;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
  .text-color {
    color: $text-color;
  }
  .theme-bg-color {
    background-color: #2b2b2b;
    box-shadow: inset #fefefe 0px 0px 3px 0px;
  }
  .theme-circle-color {
    cursor: pointer;
    background-color: #2b2b2b;
    box-shadow: #fefefe 0px 0px 3px 0px;
    width: 25px;
    height: 25px;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
}

.light-theme {
  $bg-color: #fefefe;
  $text-color: #2b2b2b;
  $link-color: #2b2b2b;
  $border-color: #2b2b2b;

  .bg-color {
    background-color: $bg-color;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
  .text-color {
    color: $text-color;
  }
  .theme-bg-color {
    background-color: #fefefe;
    box-shadow: inset #2b2b2b 0px 0px 3px 0px;
  }
  .theme-circle-color {
    cursor: pointer;
    background-color: #fefefe;
    box-shadow: #2b2b2b 0px 0px 3px 0px;
    width: 25px;
    height: 25px;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
}
