// dark-theme
.dark-theme {
  $bg-color: #1e1e1e;
  $text-color: #fefefe;
  $link-color: #fefefe;
  $border-color: #fefefe;

  .bg-color {
    background-color: $bg-color;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
  .text-color {
    color: $text-color;
  }
  .theme-bg-color {
    position: sticky;
    width: 50px;
    height: 50px;
    // background-color: #1e1e1e;
    box-shadow: inset #fefefe 5px 0px 10px 0px;
    z-index: 9999;
    border-radius: 50%;
  }
}
// light-theme
.light-theme {
  $bg-color: #fefefe;
  $text-color: #1e1e1e;
  $link-color: #1e1e1e;
  $border-color: #1e1e1e;

  .bg-color {
    background-color: $bg-color;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;
  }
  .text-color {
    color: $text-color;
  }
  .theme-bg-color {
    position: sticky;
    width: 50px;
    height: 50px;
    // background-clip: text;
    // color: transparent;
    // background-image: linear-gradient(to bottom right, #ff702e, #ff8a00);
    box-shadow: #ffe0bd 5px 3px 10px 0px;
    z-index: 9999;
    border-radius: 50%;
  }
}
